.App {
  text-align: center;
}

*{
    margin: 0;
    padding: 0;
}

body{
  background-image: url(./pic/2652561.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(95% - 2 * 5vw);
  margin: 15vmin 5vw ;
  padding: 0 3vmin  3vmin 7vmin;
  border: 1px solid rgba(128, 128, 128, 0.362);
  border-radius: 7px;
  box-shadow: 10px 10px 20px rgba(60, 60, 60, 0.219);
  }

.header{
  background-image: url(./pic/2652561.webp);
  position: fixed;
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  box-shadow: 0px 30px 40px rgba(16, 16, 16, 0.353);
}

.title{
  font-size: 60px;
  margin-left: 50px;
  color: rgb(140, 0, 0);
}

.nav{
  margin-right: 50px;
}
.nav .p{
  font-size: 40px;
  margin-left: 30px;
  text-decoration: none;
  color: rgb(140, 0, 0);
  font-weight: bold;
  transition: color 0.2s ease;
}

.nav .p:hover{
  color: aliceblue;
}


.txt{
  margin-top: 20px;
  color: rgb(240, 255, 255);
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-bottom: 30px;
}
.txtt{
  margin-top: 20px;
  color: rgb(240, 255, 255);
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.box-text-sound{
  display: flex;
  margin-bottom: 90px;
  justify-content: space-between;
}

.text-sound{
  color: rgba(240, 248, 255, 0.817);
  width: 600px;
  font-size: 24px;
  font-family:'Arial Narrow', Arial, sans-serif;
  line-height: 40px;
}

.btn-more{
  font-size: 18px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(240, 248, 255, 0.711);
  font-weight: bold;
  padding: 4px;
  transition: color .2s ease , background-color .2s ease;
}

.btn-more:hover{
  color: white;
  background-color: rgba(128, 128, 128, 0.694);
}

.imgBarcelona{
  margin-right: 120px;
  margin-top: 20px;
  width: 220px;
  display: block;

}

.logo{
  width: 50px;
  height: 100px;
  margin-left: 90px;
  color: aliceblue;
  transition: color 0.2s ease;
}

.logo:hover{
  color: rgb(140, 0, 0);
}

.forYotube{
  display: flex;
  padding: 10px;
  margin-bottom: 90px;

}

.yotube{
  position: relative;
}

.thumbnail{
  width:500px;
  margin-right: 30px;
  border-radius: 10px;
}

.duration{
  font-size: 14px;
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: aliceblue;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.87);
  border-radius: 3px;
  border: none;
}

.description{
  width: 540px;
}

.text-des{
  color: aliceblue;
  font-size: 40px;
  line-height: 45px;
  
}


.text-des p{
  color: rgba(240, 248, 255, 0.512);
  font-size: 13px;
  line-height: 15px;
}

.views{
  line-height: 15px;
  margin-top: 20px;
  color: rgba(240, 248, 255, 0.726) !important;
}

.channel-info{
  display: flex;
  align-items: center;
}

.imgchannel{
  margin-top: 10px;
  width: 45px;
  height: 45px;
  border-radius: 35px;
}

.namechannel{
  display: inline;
  margin-left: 10px;
  color: rgb(240, 248, 255) !important;
}

.btn-back{
  margin-top: 20px;
  font-weight: bold;
  padding: 8px 10px ;
  background-color: rgb(209, 18, 18);
  color: aliceblue;
  font-size: 17px;
  border: none;
  border-radius: 7px;
  transition: background-color .3s, color .3s;
}

.btn-back:hover{
  background-color: rgba(209, 18, 18, 0.689);
}

.barName{
  width: 250px;
  height: 25px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #ff0000;
  color: #b7a7a7;
  font-size: 25px;
}
.barName:focus{
  outline: none;
}

.btnName{
  font-weight: bold;
  padding: 4px 10px 18px 4px;
  height: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  transition: background-color .3s,color .3s ;
}
.btnName:hover{
  background-color: #ff0000;
  color: #fff;
}

